body {
	background-color: #f9fafc;
	font-family: 'Open Sans', sans-serif; 


}

header {
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
	font-weight: normal;
}

header p {
	color: #000;
	font-weight: bolder;
}

h1 {
	margin-left: 20px;
	margin-top: 100px;
	color: #000;
	font-weight: 800px;
}

.container p {
	color: #69696a;
	padding-left: 10px;
	padding-top: 0px;

}

.navbar {
	text-align: right;
	margin-top: 0;

	
}

.navbar li {
	display: inline;
	margin: 0 10px;


}

a#hire_us {
	color: #f9fafc;
	background-color: #000;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 10px 30px;

}

a {
	word-spacing: 1px;
	text-decoration: none;
	color: #69696a;

}

.container {
	float: left;
	width: 550px;
	margin-left: 20px;
	border-left: 3px solid #69696a;
	padding-left: 5px; 
}

.container2 {
  height: 425px;
  width: 425px;
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 10px;

}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: rgba(207, 130, 213, .6);
  position: absolute;
  left: 165px;
  top: 25px;
  z-index: 20;
  
  
}

.circle2 {
  height: 300px;
  width: 300px;
  background-color:rgba(247, 136, 167, 0.6);
  border-radius: 100%;
  position: absolute;
  margin-right: 50px;
  z-index: 0;
}

.circle3{
  height: 250px;
  width: 250px;
  border-radius: 100%;
  background-color: rgba(247, 193, 162, .7);
  position: absolute;
  left: 120px;
  top: 100px;
  z-index: 30;
  
}



footer p {
	clear: both;
	width: 100px;
	margin: auto;
	height: 30px;
	text-align: center;
	margin-top: 10px;
	color: #f0fafc;
	background-color: #000;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 10px 30px;

}



